<a href="https://colab.research.google.com/github/Harsha1935/PROGRAMS/blob/main/PYTHON_PROGRAMS_J_HARSHA_SAI_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import cmath
a=float(input('enter a:'))
b=float(input('enterb:'))
c=float(input('enter c:'))
d=(b**2)-(4*a*c)
sol1=(-b-cmath.sqrt(d))/(2*a)
sol2=(-b+cmath.sqrt(d))/(2*a)
print('sol1=',sol1)
print('sol2=',sol2)

enter a:2
enterb:3
enter c:4
sol1= (-0.75-1.1989578808281798j)
sol2= (-0.75+1.1989578808281798j)

In [ ]:
#9. Programs on List Processing. (Sortings, Searchings, Permutations...)
def searching(l):
  low,high=0,len(l)-1
  mid=(low+high)//2
  x=int(input("Enter the value to search\n"))
  while (low!=high):
    if (x==l[mid]):
      break
    elif x>l[mid]:
      low=mid+1
      mid=(low+high)//2
    else:
      high=mid-1
      mid=(low+high)//2
  if (x==l[mid]):
    print("It is in the list")
  else:
    print("It is not available in the list")
def sorting(l):
  for i in range(len(l)-1):
    for j in range(len(l)-1):
      if (l[j]>l[j+1]):
        l[j],l[j+1]=l[j+1],l[j]
def permutation(lst):
  res=[]
  if len(lst) == 0:
    return []
  if len(lst) == 1:
    return [lst]
  l = []
  for i in range(len(lst)):
    m = lst[i]
    remLst = lst[:i] + lst[i+1:]
    for p in permutation(remLst):
      l.append([m] + p)
  for i in l:
    if i not in res:
      res.append(i)
  return res
  
l=list(map(int,input("Enter a list of numbers").split()))
ch=int(input("Enter your choice\n1.Search an element\n2.Sort\n3.All permutations\n"))
if (ch==1):
  sorting(l)
  searching(l)
elif ch==2:
  sorting(l)
  print(l)
else:
  for p in permutation(l):
    print(p)

Enter a list of numbers23456
Enter your choice
1.Search an element
2.Sort
3.All permutations
1
Enter the value to search
3
It is not available in the list

In [ ]:
#19. Write a program to insert a value at a given position in a tuple.
tuplex=tuple(map(int,input().split()))
print(tuplex)
ph=[]
for i in tuplex:
  ph.append(i)
x=int(input("enter the position where the value to be included:"))
y=int(input("enter the value to be inserted: "))
ph.insert(x, y)
tuplex = tuple(ph)
print(tuplex)

123
(123,)
enter the position where the value to be included:2
enter the value to be inserted: 4
(123, 4)

In [ ]:
#12. Write Python Program to Count the Occurrences of Each Word and Also Count the
#Number of Words in a “quotes.txt” File
''' the text file must be in corrent working directory'''
list=[]
list1=[]
file=open("quotes.txt","r")
for c in file:
    for words in c.split():
      for j in words:
        list1.append(j)

      list.append(words)

c=0
for i in range(len(list)):
    c+=1
    print(list[i])
    print('count=',list.count(list[i]))
print('No of words in the given file are',c)

In [ ]:
# parent class
class Bird:
    
    def __init__(self):
        print("Bird is ready")

    def whoisThis(self):
        print("Bird")

    def swim(self):
        print("Swim faster")

# child class
class Penguin(Bird):

    def __init__(self):
        # call super() function
        super().__init__()
        print("Penguin is ready")

    def whoisThis(self):
        print("Penguin")

    def run(self):
        print("Run faster")

class Computer:

    def __init__(self):
        self.__maxprice = 900

    def sell(self):
        print("Selling Price: {}".format(self.__maxprice))

    def setMaxPrice(self, price):
        self.__maxprice = price

c = Computer()
c.sell()

# change the price
c.__maxprice = 1000
c.sell()

# using setter function
c.setMaxPrice(1000)
c.sell()


peggy = Penguin()
peggy.whoisThis()
peggy.swim()
peggy.run()

Selling Price: 900
Selling Price: 900
Selling Price: 1000
Bird is ready
Penguin is ready
Penguin
Swim faster
Run faster

In [ ]:
#15. A program to perform transpose of a matrix.
rows= int(input("Number of rows:"))
cols = int(input("Number of columns:"))
X = [ ]
print("Enter the entries row-wise:")
B=[[int(input()) for j in range(cols)] for i in range(rows)]
result=[[0 for j in range(cols)] for i in range(rows)]
for i in range(len(X)):
   for j in range(len(X[0])):
       result[j][i] = X[i][j]
for r in result:
   print(r)

Number of rows:1
Number of columns:1
Enter the entries row-wise:
1
[0]

In [ ]:
#16. Write Pythonic code to find Mean, Variance and Standard Deviation for a list of
#numbers.
def mean(x):
  sum=0
  for i in range(len(x)):
    sum+=x[i]
  me=sum/len(x)
  return me 
def var(y,m):
  sum=0
  for i in range(len(y)):
    sum+=(y[i]-m)**2
  va=sum/len(y)
  return va 
def std(z): 
  return z**(0.5)
list=[]
n=int(input('Enter the number of elements='))
print('Enter the elements:')
for i in range(n):
  e=int(input())
  list.append(e)
m=mean(list)
print('Mean is',m)
v=var(list,m)
print('Variance is',v)
sd=std(v)
print('Standard deviation is',round(sd,2))

In [ ]:
#8. Create recursive functions for GCD, Fibonacci, factorial and Towers of Hanoi problems
def fibanocci(n):
   if n <= 1:
       return n
   else:
       return (fibanocci(n-1) + fibanocci(n-2))
def gcd(m,n):
  m=max(m,n)
  n=min(m,n)
  if m%n==0:
    return n
  else:
    return gcd(n,m%n)
def tower (n,fromrod,torod,auxirod):
  if n==1:
    print("move disk 1 from rod",fromrod,'to rod',torod)
  else:
    tower(n-1,fromrod,auxirod,torod)
    print("move rod",n,"from rod",fromrod,"to rod",torod)
    tower(n-1,auxirod,torod,fromrod)
def fact(n):
  if n==1:
    return n
  else:
    return n*fact(n-1)
x=input('''1:gcd 2:fibanocci 3:factorial 4:towers of hanoi''')
if x=='1':
  a=int(input("enter the first number:"))
  b=int(input("enter the second number: "))
  print(f"the gcd of {a} and {b} numbers is ")
  print(gcd(a,b))
if x=='2':
  n=int(input())
  print("Fibonacci sequence:")
  for i in range(n):
    print(fibanocci(i),end=" ")
if x=='3':
  n=int(input("enter the number to find factorial: "))
  x=fact(n)
  print(f"the factorial {n} is {x}")
if x=='4':
  n=int(input("Enter number of discs: "))
  tower(n,'A','B','C')

1:gcd 2:fibanocci 3:factorial 4:towers of hanoi4
Enter number of discs: 3
move disk 1 from rod A to rod B
move rod 2 from rod A to rod C
move disk 1 from rod B to rod C
move rod 3 from rod A to rod B
move disk 1 from rod C to rod A
move rod 2 from rod C to rod B
move disk 1 from rod A to rod B

In [ ]:
class MyException(Exception):
  def __init__(self,arg):
    self.msg=arg
try:
  age=int(input('enter age'))
  if age<18:
    raise MyExpection('Under Age')
  else:
    print('eligible to vote')
except MyException as e:
  print(e)
print('success')

enter age18
eligible to vote
success

In [ ]:
class student:
  def __init__(self,name):
    self.name=name
  def display(self):
    print('NAME:',self.name)
class DOB:
  def __init__(self,d,m,y):
     self.dd=d
     self.mm=m
     self.yy=y
  def display(self):
    print('DOB:',self.dd,'/',self.mm,'/',self.yy)

s=student('harsha')
s.display()
d=DOB(8,9,2020)
d.display()

NAME: harsha
DOB: 8 / 9 / 2020

In [ ]:
class person:
      def __init__(self,name,age):
            self.name=name
            self.age=age

      def display(self):
            print("Name:",self.name)
            print("Age:",self.age)

class Teacher(person):
      def __init__(self,name,age,exp,r_area):
            person.__init__(self,name,age)
            self.exp=exp
            self.r_area=r_area

      def displaydata(self):
            person.display(self)
            print("EXPERIENCE:",self.exp)
            print("RESEARCH AREA:",self.r_area)

class student(person):
      def __init__(self,name,age,course,marks):
            person.__init__(self,name,age)
            self.course=course
            self.marks=marks

      def displaydata(self):
            person.display(self)
            print("course:",self.course)
            print("marks:",self.marks)
print("+++++++Teacher++++++")
T=Teacher("srikanth",45,20,"python")
T.displaydata()
print("++++++++++student++++++")
s=student("HS",20,"Btech",100)
s.displaydata()

+++++++Teacher++++++
Name: srikanth
Age: 45
EXPERIENCE: 20
RESEARCH AREA: python
++++++++++student++++++
Name: HS
Age: 20
course: Btech
marks: 100

In [ ]:
class Base:
  def dis(self):
    print('In class Base')
class Derived(Base):
  def display (self):
    print('In derived class')
b=Base()
b.dis()
d=Derived()
d.display()

In class Base
In derived class

In [ ]:
# program to differentiate between class and object variables
class ABC():
  class_var=0  #class variable
  def __init__(self,var):
    ABC.class_var+=1
    self.var=var #object variable
    print("the object value is:",var)
    print("the value of class variable is:", ABC.class_var)
obj1=ABC(10)
obj2=ABC(20)
obj3=ABC(30)

the object value is: 10
the value of class variable is: 1
the object value is: 20
the value of class variable is: 2
the object value is: 30
the value of class variable is: 3

In [ ]:
#program illustrating the modification of an instance variable
class Number:
  even=0 #default value
  def check(self,num):
    if num%2==0:
        self.even=1
  def Even_odd(self,num):
        self.check(num)
        if self.even==1:
          print(num,"is even")
        else:
          print(num,"is odd")
n=Number()
n.Even_odd(21)

21 is odd

In [ ]:
# Program to multiply two matrices
A=[]
n=int(input("Enter N for N x N matrix: "))         
print("Enter the element ::>")
for i in range(n): 
   row=[]                                      #temporary list to store the row
   for j in range(n): 
      row.append(int(input()))           #add the input to row list
      A.append(row)                      #add the row to the list
print(A)
# [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
#Display the 2D array
print("Display Array In Matrix Form")
for i in range(n):
   for j in range(n):
      print(A[i][j], end=" ")
   print()                                        #new line
B=[]
n=int(input("Enter N for N x N matrix : "))           #3 here
#use list for storing 2D array
#get the user input and store it in list (here IN : 1 to 9)
print("Enter the element ::>")
for i in range (n): 
   row=[]                                      #temporary list to store the row
   for j in range(n): 
      row.append(int(input()))           #add the input to row list
      B.append(row)                       #add the row to the list
print(B)
# [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
#Display the 2D array
print("Display Array In Matrix Form")
for i in range(n):
   for j in range(n):
      print(B[i][j], end=" ")
   print()                                           
result = [[0,0,0], [0,0,0], [0,0,0]] 
for i in range(len(A)): 
   for j in range(len(B[0])): 
      for k in range(len(B)): 
         result[i][j] += A[i][k] * B[k][j] 
print("The Resultant Matrix Is ::>")
for r in result: 
   print(r)

Enter N for N x N matrix: 1
Enter the element ::>
2
[[2]]
Display Array In Matrix Form
2
Enter N for N x N matrix : 1
Enter the element ::>
2
[[2]]
Display Array In Matrix Form
2
The Resultant Matrix Is ::>
[4, 0, 0]
[0, 0, 0]
[0, 0, 0]

In [ ]:
#9. Programs on List Processing. (Sortings, Searchings, Permutations...)
def searching(l):
  low,high=0,len(l)-1
  mid=(low+high)//2
  x=int(input("Enter the value to search\n"))
  while (low!=high):
    if (x==l[mid]):
      break
    elif x>l[mid]:
      low=mid+1
      mid=(low+high)//2
    else:
      high=mid-1
      mid=(low+high)//2
  if (x==l[mid]):
    print("It is in the list")
  else:
    print("It is not available in the list")
def sorting(l):
  for i in range(len(l)-1):
    for j in range(len(l)-1):
      if (l[j]>l[j+1]):
        l[j],l[j+1]=l[j+1],l[j]
def permutation(lst):
  res=[]
  if len(lst) == 0:
    return []
  if len(lst) == 1:
    return [lst]
  l = []
  for i in range(len(lst)):
    m = lst[i]
    remLst = lst[:i] + lst[i+1:]
    for p in permutation(remLst):
      l.append([m] + p)
  for i in l:
    if i not in res:
      res.append(i)
  return res
  
l=list(map(int,input("Enter a list of numbers").split()))
ch=int(input("Enter your choice\n1.Search an element\n2.Sort\n3.All permutations\n"))
if (ch==1):
  sorting(l)
  searching(l)
elif ch==2:
  sorting(l)
  print(l)
else:
  for p in permutation(l):
    print(p)

In [ ]:
lst=[1,2,3,4,5]
print(lst[-1])
print(lst)

5
[1, 2, 3, 4, 5]

In [ ]:
#7. A program to demonstrate the functions in math module and ord( ), chr( ),id( ),type( ) functions
def chartoascii(x1):
  return (ord(x1))
def asciitochar(y):
  return (chr(y))
def stid(z):
  return (id(z))
def typen(t):
  return (type (t))
x=int(input(''' 1:chartoascii 2:asciitochar 3:stid 4: typeofn'''))
if x==1:
  x1=input('enter the character: ')
  p=chartoascii(x1)
  print(p)
if x==2:
  y=int(input('enter the ascii value: '))
  p=asciitochar(y)
  print(p)
if x==3:
  z=input('enter the value to see the storage id: ')
  p=stid(z)
  print(p)
if x==4:
  t=input('enter something to see its type: ')
  p=typen(t)
  print(p)

 1:chartoascii 2:asciitochar 3:stid 4: typeofn2
enter the ascii value: 65
A

In [ ]:
number=int(input('enter the number:'))
sqrt=number**0.5
print('square root is:',sqrt)

enter the number:100
square root is: 10.0

In [ ]:
s1=input("Enter first string:")
s2=input("Enter second string:")
if(sorted(s1)==sorted(s2)):
      print("The strings are anagrams.")
else:
      print("The strings aren't anagrams.")

Enter first string:harsha
Enter second string:arhsha
The strings are anagrams.

In [ ]:
operation = input('''
Please type in the math operation you would like to complete:
+ for addition
- for subtraction
* for multiplication
/ for division
''')

number_1 = int(input('Enter your first number: '))
number_2 = int(input('Enter your second number: '))

print('{} + {} = '.format(number_1, number_2))
print(number_1 + number_2)

print('{} - {} = '.format(number_1, number_2))
print(number_1 - number_2)

print('{} * {} = '.format(number_1, number_2))
print(number_1 * number_2)

print('{} / {} = '.format(number_1, number_2))
print(number_1 / number_2)

Please type in the math operation you would like to complete:
+ for addition
- for subtraction
* for multiplication
/ for division
+
Enter your first number: 4
Enter your second number: 5
4 + 5 =
9
4 - 5 =
-1
4 * 5 =
20
4 / 5 =
0.8

In [ ]:
a=int(input('enter the value:'))
b=int(input('enter the value:'))
c=a&b
print("the bitwise and",c)
c=a|b
print("the bitwise not is",c)
c=a^b
print("the bitwise exclusive or",c)
c=~a
print("the bitwise complement",c)
c=a<<2
print("the bitwise left shift",c)
c=a>>2
print("the bitwise right shift",c)

enter the value:1
enter the value:2
the bitwise and 0
the bitwise not is 3
the bitwise exclusive or 3
the bitwise complement -2
the bitwise left shift 4
the bitwise right shift 0

In [ ]:
print("List of months: January, February, March, April, May, June, July, August, September, October, November, December")
year=int(input("enter a year"))
print(year)
month_name = input("Input the name of Month: ")

if month_name == "February":
	print("No. of days: 28/29 days")
elif month_name in ("April", "June", "September", "November"):
	print("No. of days: 30 days")
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
	print("No. of days: 31 day")
else:
   print('entered wrong input')

List of months: January, February, March, April, May, June, July, August, September, October, November, December
enter a year2020
2020
Input the name of Month: February
No. of days: 28/29 days

In [ ]:
# Python program to find the number of days in a given month,year

month = str(input())
year = int(input())
if(month == 'january' or month == 'march' or month == 'may' or month == 'july' or month == 'august' or month == 'october' or month =='december'):
	print("Number of days is 31")
elif((month == 'febuary') and ((year%400==0) or (year%4==0 and year%100!=0))):	
	print("Number of days is 29")
elif(month == 'febuary'):
	print(" of days is 28")
else:
	print("Number of days is 30")

october
2021
Number of days is 31

In [ ]:

x = ord('A')
print(x)

print(ord('ć'))
print(ord('ç'))
print(ord('$'))

65
263
231
36

In [ ]:

y = chr(65)
print(y)
print(chr(123))
print(chr(36))

A
{
$

In [ ]:
print(chr(ord('ć')))
print(ord(chr(65)))

ć
65

In [ ]:
def TowerOfHanoi(n , source, destination, auxiliary):
    if n==1:
        print ("Move disk 1 from source",source,"to destination",destination)
        return
    TowerOfHanoi(n-1, source, auxiliary, destination)
    print ("Move disk",n,"from source",source,"to destination",destination)
    TowerOfHanoi(n-1, auxiliary, destination, source)
          
# Driver code
n = 3
TowerOfHanoi(n,'A','B','C')

Move disk 1 from source A to destination B
Move disk 2 from source A to destination C
Move disk 1 from source B to destination C
Move disk 3 from source A to destination B
Move disk 1 from source C to destination A
Move disk 2 from source C to destination B
Move disk 1 from source A to destination B

In [ ]:
#11. Write Python program that accepts a sentence and calculate the number of words, digits,
#uppercase letters and lowercase letters.
x=input()
words=x.count(" ")
print("no of words=",end=" ")
print(words+1)
d=0
nu=0
nl=0
for i in x:
  if ord(i)>=ord('0') and ord(i)<=ord('9'):
    d+=1
  elif ord(i)>=ord('A') and ord(i)<=ord('Z'):
    nu+=1
  elif ord(i)>=ord('a') and ord(i)<=ord('z'):
    nl+=1
print("no of digits in the sentence=",end=" ")
print(d)
print("no of upper case letters in sentence=",end=" ")
print(nu)
print("no of lower case letters in sentence=",end=" ")
print(nl)

harsha2002
no of words= 1
no of digits in the sentence= 4
no of upper case letters in sentence= 0
no of lower case letters in sentence= 6

In [ ]:
# Python program to display the Fibonacci sequence

def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = 10

# check if the number of terms is valid
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
def recur_factorial(n):
    """Function to return the factorial
    of a number using recursion"""
    if n == 1:
        return n
    else:
        return n*recur_factorial(n-1)

num=int(input("Enter the number: "))

print("factorial of ",num," (recursive): ",end="")
print(recur_factorial(num))

Enter the number: 5
factorial of  5  (recursive): 120

In [ ]:
def gcd(a,b):
    if(b==0):
        return a
    else:
        return gcd(b,a%b)
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
GCD=gcd(a,b)
print("GCD is: ")
print(GCD)

Enter first number:25
Enter second number:5
GCD is:
5

In [ ]:
mydic={1:'harsha',2:'priya',3:'srikanth',4:'ravi'}
x=mydic.get(1)
print(x)
print(mydic.keys())
mydic.pop(1)
print(mydic)
dic1={5:'hs'}
mydic.update(dic1)
print(mydic)
print(mydic.values())
print(mydic.items())

harsha
dict_keys([1, 2, 3, 4])
{2: 'priya', 3: 'srikanth', 4: 'ravi'}
{2: 'priya', 3: 'srikanth', 4: 'ravi', 5: 'hs'}
dict_values(['priya', 'srikanth', 'ravi', 'hs'])
dict_items([(2, 'priya'), (3, 'srikanth'), (4, 'ravi'), (5, 'hs')])

In [ ]:
#17. Discuss the following dictionary methods with an example.
#a) get() b) keys() c) pop() d) update() e) values() f) items()
mydic={1:'apple',2:'orange',3:'lemon'}
x=mydic.get(1)
print(x)
print(mydic.keys())
mydic.pop(2)
print(mydic)
dic1={4:'banana'}
mydic.update(dic1)
print(mydic)
print(mydic.values())
print(mydic.items())

apple
dict_keys([1, 2, 3])
{1: 'apple', 3: 'lemon'}
{1: 'apple', 3: 'lemon', 4: 'banana'}
dict_values(['apple', 'lemon', 'banana'])
dict_items([(1, 'apple'), (3, 'lemon'), (4, 'banana')])

In [ ]:
#15. A program to perform transpose of a matrix.
rows= int(input("Number of rows:"))
cols = int(input("Number of columns:"))
X = [ ]
print("Enter the entries row-wise:")
for i in range(rows):
    a =[ ]
    for j in range(cols):
         a.append(int(input()))
    X.append(a)
result=[ ]
for i in range(cols):
    b =[ ]
    for j in range(rows):
         b.append(int(0))
    result.append(b)
for i in range(len(X)):
   for j in range(len(X[0])):
       result[j][i] = X[i][j]
for r in result:
   print(r)

Number of rows:4
Number of columns:4
Enter the entries row-wise:
1
2
3
4
5
6
7
8
9
0
2
3
2
1
5
6
[1, 5, 9, 2]
[2, 6, 0, 1]
[3, 7, 2, 5]
[4, 8, 3, 6]

In [ ]:
l=['harsha','sai','priya','sai','ramu','seetha']
l.append('hs')
print(l)

['harsha', 'sai', 'priya', 'sai', 'ramu', 'seetha', 'hs']

In [ ]:
l1=[1,2,3,4,5,6,7,8,9]
l2=[1,2,3,4,5]
l1.extend(l2)
print(l1)
l2.extend(l1)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5]

In [ ]:

List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2))

1

In [ ]:
list=[2,4,6,8,0]
print(list.pop())

0

In [ ]:
list=[1,3,4,5,6,7]
print(list.pop(3))

5

In [ ]:
list=[1,2,3,4,5,6,7,8,9]
del list[2]
print(list)

[1, 2, 4, 5, 6, 7, 8, 9]

In [ ]:
list=['hs','priyarajkiran','prakash','ravi']
list.remove('priyarajkiran')
print(list)

['hs', 'prakash', 'ravi']

In [ ]:
list=['a','c','f','d','t','y']
list.sort()
print(list)

['a', 'c', 'd', 'f', 't', 'y']

In [ ]:
list=['harsha','sai','srikanth']
list.insert('ravi')
print(list)

['harsha', 'sai', 'ravi', 'srikanth']

In [ ]:
t=(1,2,3)
x=list(t)
x.append('surender')
t=tuple(x)
print(tuple)

<class 'tuple'>

In [ ]:
# Python code to remove duplicate elements
def Remove(duplicate):
	final_list = []
	for num in duplicate:
		if num not in final_list:
			final_list.append(num)
	return final_list
	
# Driver Code
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [ ]:

'''6. A menu driven program to find the properties of numbers.(Prime, Armstrong, Strong, Perfect) (create user defined functions)'''
def prime(n):
  flag = 0
  for i in range(2, n):
      if (n % i) == 0:
          flag = 1
          break
  if flag==1:
    print(n, "is not a prime number")
  else:
    print(n, "is a prime number")
def armstrong(n):
  sum = 0
  temp = n
  order=len(str(n))
  while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10
  if n == sum:
   print(n,"is an Armstrong number")
  else:
   print(n,"is not an Armstrong number")
def strong(n):
  sum1=0
  temp=n
  while(n):
    i=1
    f=1
    r=n%10
    while(i<=r):
        f=f*i
        i=i+1
    sum1=sum1+f
    n=n//10
  if sum1==temp:
    print(f"The number {temp} is a strong number")
  else:
    print(f"The number {temp} is not a strong number")
def perfect(n):
  Sum = 0
  for i in range(1, n):
    if(n % i == 0):
        Sum = Sum + i
  if (Sum == n):
    print(" %d is a Perfect Number" %n)
  else:
    print(" %d is not a Perfect Number" %n)
x=input(''' 1:prime 2:armstrong 3:strong 4: perfect''')
y=int(input('enter the number:'))
if '1' in x:
  prime(y)
if '2' in x:
  armstrong(y)
if '3' in x:
  strong(y)
if '4' in x:
  perfect(y)

 1:prime 2:armstrong 3:strong 4: perfect3
enter the number:145
The number 145 is a strong number

In [ ]:
string=input(("Enter a string:"))
if(string==string[::-1]):
      print("The string is a palindrome")
else:
      print("Not a palindrome")

Enter a string:madam
The string is a palindrome

In [ ]:
# Python Program to Check a Given String is Palindrome or Not

def reverse(str1):
    if(len(str1) == 0):
        return str1
    else:
        return reverse(str1[1 : ]) + str1[0]
    
string = input("Please enter your own String : ")
str1 = reverse(string)
print("String in reverse Order :  ", str1)

if(string == str1):
   print("This is a Palindrome String")
else:
   print("This is Not a Palindrome String")

Please enter your own String : madam
String in reverse Order :   madam
This is a Palindrome String

NameError: ignored

In [ ]:

from math import factorial
def c(n,r):
  ncr=1
  ncr=(factorial(n))//(factorial(n-r)*factorial(r))
  return ncr
def pascalstriangle(n):
  for i in range(n):
    for j in range(n-i):
      print(end=" ")
    for j in range(i+1):
      print(c(i,j), end=" ")
    print()
x=int(input("1:combination 2:pascalstriangle"))
if x==1:
  n=int(input("enter the n value: "))
  r=int(input("enter the r value: "))
  y=c(n,r)
  print(y)
elif x==2:
  n=int(input("enter the no of rows to be taken: "))
  pascalstriangle(n)
else:
  print("enter the valid value ")

1:combination 2:pascalstriangle2
enter the no of rows to be taken: 4
    1
   1 1
  1 2 1
 1 3 3 1

In [ ]:
# Print Pascal's Triangle in Python
from math import factorial

# input n
n = 5
for i in range(n):
	for j in range(n-i+1):

		# for left spacing
		print(end=" ")

	for j in range(i+1):

		# nCr = n!/((n-r)!*r!)
		print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")

	# for new line
	print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [ ]:
#18. Create a user defined function to check whether a given string is Palindrome or not.
def palindrome(x):
  y=x[::-1]
  if y==x:
    print("the given string",x,"is palindrome string")
  else:
    print("the given string",x,"is not a palindrome string")
x=input("enter the required string: ")
palindrome(x)

enter the required string: malayalam
the given string malayalam is palindrome string